body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F5F5F5;
    color: #333333;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.header {
    background-color: #0A74DA;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    color: #FFFFFF;
}

.header h1 {
    margin: 0;
    font-size: 2.5em;
    font-weight: 700;
}

.header h2 {
    margin: 5px 0 0 0;
    font-size: 1.5em;
    font-weight: 400;
}

.navigation {
    background-color: #4A90E2;
    padding: 10px;
    text-align: center;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navigation a {
    color: #FFFFFF;
    margin: 0 15px;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.navigation a:hover {
    background-color: #0A74DA;
}

.welcome-section, .event-section, .carousel-section {
    background-color: #FFFFFF;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center text */
}

.welcome-section h2, .event-section h2 {
    color: #0A74DA;
    font-size: 2em;
    margin-bottom: 20px;
}

.welcome-section p {
    text-align: justify;
    margin-bottom: 10px;
}

.carousel-section {
    display: flex;
    justify-content: center;
}

.carousel-section #carrousel {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    border-radius: 10px;
    max-width: 800px; /* Center the carousel */
}

.carousel-section #carrousel ul {
    display: flex;
    transition: transform 0.5s ease-in-out;
    padding: 0;
    margin: 0;
}

.carousel-section #carrousel li {
    list-style: none;
    min-width: 100%;
    box-sizing: border-box;
}

.carousel-section #carrousel img {
    width: 75%;
    height: 400px;
    object-fit: cover;
}

.carousel-section .btn-prev,
.carousel-section .btn-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    font-size: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
}

.carousel-section .btn-prev {
    left: 10px;
}

.carousel-section .btn-next {
    right: 10px;
}

.google-map {
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    height: 300px;
    width: 50%;
    max-width: 800px; /* Center the map */
    margin: 0 auto; /* Center the element */
}

.footer {
    background-color: #F5F5F5;
    padding: 20px;
    text-align: center;
    border-top: 2px solid #CCCCCC;
}

.footer p {
    margin: 0;
    color: #333333;
    font-size: 1em;
}