/* recherche.css Styles pour la barre de recherche */

.search-bar {
	display: none;
	text-align: center;
	margin: 20px 0;
}

.search-bar input {
	width: 80%;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid #ccc;
	font-size: 1em;
}

.search-results {
	background-color: #ffffff;
	border: 1px solid #ccc;
	border-radius: 5px;
	margin-top: 10px;
	padding: 10px;
}

.search-result {
	padding: 10px;
	border-bottom: 1px solid #eee;
}

.search-result h3 {
	margin: 0;
}

.search-result p {
	margin: 5px 0 0;
}

.search-result a {
	text-decoration: none;
	color: #0A74DA;
}

.search-result a:hover {
	text-decoration: underline;
}

.filter-buttons {
	margin-top: 10px;
	text-align: center;
}

.filter-button {
	background-color: #0A74DA;
	color: #fff;
	border: none;
	padding: 10px 15px;
	margin: 5px;
	border-radius: 5px;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.filter-button:hover {
	background-color: #005bb5;
}


.search-result {
    display: flex;
    align-items: center; /* alligne éléments à la vecticale */
    padding: 10px;
    border-bottom: 1px solid #eee;
}

.search-result img {
    width: 100px; /* réglage taille image */
    height: 100px; /* réglage taille image */
    border-radius: 50%; /* rend l'image ronde */
    margin-right: 20px; /* espace entre image et texte */
}

.search-result-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}