body {
	font-family: 'Roboto', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	background-color: #F5F5F5;
	color: #333333;
	background-image: url('../images/fond.jpg');
    background-size: cover;  /* Couvre tout l'espace disponible */
    background-position: center; /* Centre l'image */
    background-repeat: no-repeat; /* Empêche la répétition de l'image */
	background-attachment: fixed; /* Fixe l'image de fond */
}

.wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	max-width: 1200px;
	margin: 0 auto;
	padding: 20px;
}

.header {
	background-color: #0A74DA;
	padding: 20px;
	text-align: center;
	border-radius: 10px;
	color: #FFFFFF;
	position: relative;
}

.header h1 {
	margin: 0;
	font-size: 2.5em;
	font-weight: 700;
}

.header h2 {
	margin: 5px 0 0 0;
	font-size: 1.5em;
	font-weight: 400;
}

.header .logo {
	position: absolute;
	top: 50%;
	right: 20px;
	transform: translateY(-50%);
	height: 150px; /* régler pour la hauteur du logo */
	width: auto; /* la largeur du logo s'ajuste automatiquement, comme c'est un carré on s'en fiche*/
}

.navigation {
	background-color: #4A90E2;
	padding: 10px;
	text-align: center;
	margin: 20px 0;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navigation a {
	color: #FFFFFF;
	margin: 0 15px;
	text-decoration: none;
	padding: 10px 20px;
	border-radius: 5px;
	transition: background-color 0.3s ease;
}

.navigation a:hover {
	background-color: #0A74DA;
}


.welcome-section, .event-section, .carousel-section {
	background-color: #FFFFFF;
	padding: 20px;
	margin: 20px 0;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	text-align: center; /* centrer texte */
}

.welcome-section h2, .event-section h2 {
	color: #0A74DA;
	font-size: 2em;
	margin-bottom: 20px;
}

.welcome-section p {
	text-align: justify;
	margin-bottom: 10px;
}


.google-map {
	margin-top: 20px;
	border: 1px solid #ccc;
	border-radius: 10px;
	overflow: hidden;
	height: 300px;
	width: 100%;
	max-width: 800px; /* centrer la google map */
	margin: 0 auto; /*centrer l element*/
}

.footer {
	background-color: rgba(255, 255, 255, 0.8); /* Blanc avec 80% d'opacité */
	padding: 20px;
	text-align: center;
	border-top: 2px solid #CCCCCC;
}

.footer p {
	margin: 0;
	color: #333333;
	font-size: 1em;
}

.search-result {
    background-color: rgba(255, 255, 255, 0.9); /* Blanc avec 80% d'opacité */
    padding: 15px; /* Ajoutez du padding autour des éléments pour un meilleur rendu */
    border-radius: 8px; /* Coins arrondis pour l'esthétique */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Ombre douce pour un effet de profondeur */
    margin: 10px 0; /* Espacement entre les résultats */
    display: flex; /* Utilise flexbox pour aligner les éléments horizontalement */
    align-items: center; /* Centre les éléments verticalement dans le flexbox */
}